html {
  font-family: Helvetica;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

.centered{
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.links{
  font-size: 18px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer1 {
  font-size: 11px;
  color: white;
}

.footer2 {
  background-color: dimgray;
}

.banner{
  background-image: url(../images/the-flatiron-building.png);
  background-size:     cover;
}
